.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.fill-horizontal{
  width: 100%;
}

.left{
  text-align: left;
  margin-left: 5em;
}

.right{
  text-align: left;
  margin-right: 5em;
}

.left-space{
  margin-inline-start: 5em;
}

.form-container{
  display: flex;
  flex-direction: column;
}

.hoverable:hover{
  background-color: #282c34;
}

.clickable:hover{
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.employee-list{
  border-style: none;
  width: 12em;
  text-align: left;
}

.float-left{
  flex-wrap: wrap;
}

.reject{
  float: right;
  margin-right: 0;
  width: 15em;
  border-style: none;
  color: red;
}

.small-area{
  margin: 5em;
}

.text-area-height{
  height: 120px;
}

.text-area-height-margin{
  margin-top: 20px;
}

.column{
  display: flex;
  flex-direction: column;
}

.accept{
  float: right;
  margin-right: 0;
  width: 15em;
  border-style: none;
  color: green;
}

.font-large{
  font-size: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
